<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Desayunos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-text-center">A continuacion se mostraran algunos restaurantes en Tepic donde podras disfrutar una
          gran variedad de Desayunos.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <div>
        <div><img src="../../assets/chayito.jpg" width="700" height="350" /></div>
      </div>
      <ion-card-header>
        <ion-card-subtitle>Chilaquiles, Molletes y mucho mas</ion-card-subtitle>
        <ion-card-title>Chayito Gallo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Restaurante Familiar de Gran Calidad</p>
        <ion-button type="button" (click)="info()" expand="block" >mas informacion...</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <div>
        <div><img src="../../assets/hotel.jpg" width="700" height="350" /></div>
      </div>
      <ion-card-header>
        <ion-card-subtitle>Chilaquiles, Molletes y mucho mas</ion-card-subtitle>
        <ion-card-title>Hotel Real de Don Juan</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Disfrute su estadia con los mejores alimentos!</p>
        <ion-button type="button" (click)="info()" expand="block" >mas informacion...</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <div>
        <div><img src="../../assets/el_verde.jpg" width="700" height="350" /></div>
      </div>
      <ion-card-header>
        <ion-card-subtitle>Chilaquiles, Molletes y mucho mas</ion-card-subtitle>
        <ion-card-title>El Verde</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Nuestro Sabor, nuestro Origen</p>
        <ion-button type="button" (click)="info()" expand="block" >mas informacion...</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>