<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Informacion extra
    </ion-title>
    <ion-icon name="arrow-back" (click)="cancelar()"></ion-icon>
  </ion-toolbar>
</ion-header> 

<ion-content>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide class="slide1" *ngFor="let g of gallery">
                  <ion-card>
                    <ion-img [src]="g.img"></ion-img>
                    <ion-card-header>
                      <ion-card-subtitle>{{g.direccion}}</ion-card-subtitle>
                      <ion-card-title >{{g.horario}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>{{g.telefono}}</ion-card-content>
                  </ion-card>
        </ion-slide>
      </ion-slides>
</ion-content>
